
body{
    overflow-x: hidden;
}
#quantity-product {
    position: absolute;
    top: 7%;
    left: 44%;
    color: black;
    font-size: 26px;
}
#nav-bar{
    position: absolute;
    right: 1%;
    top: 14%;
    font-size: 40px;
}

#nav-bar > a{
    text-decoration: none;
    color:white
}

#container-product{
    margin-top: 97px;
}

#go-up{
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 99999;
    display: none;

}

#color-red{
    color: #dc3545!important;;
}

